*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;    
}

@media screen
and (max-width:600px)
{
body
{    min-height:38vh;
    /*background-color: rgb(255, 255, 255);*/    
    background-color: rgb(5, 67, 121);
}

h1
{
    display: block;
    position: relative;
    text-align: center;
    color: aliceblue;     
    margin-top: 0px;  
    padding-top: 10px;
    width: auto;
    
}
header ,div h1
{    
    position: relative;
    background-color: rgb(5, 67, 121);
    height: 60px;              
}
#tetris_header
{
    display:none;
}


h2
    {
        color: rgb(18, 43, 59);
        text-align: center;
        font-weight: bold;
        font-size: 36px;
    }

p
    {
        font-size: 14px;
    }
a
    {
        color:rgb(231, 230, 230);
    }
 button img 
 {
    user-select: none; 
    pointer-events: none;
 }   

#segundo_plano
{
    display:none;
   min-height: 10%;     
}

#div1
{
    margin:10px auto 3vw auto;    
    max-width: 500px;  
    height: 10%;
    background-color: rgb(224, 241, 255);
}
#div1 div
{
    text-align: center;
}
#home_image
{
    display:block;
    position: absolute;
    height: 40px; 
    margin: 2% 0px;

}

#img_copa
{
   display: none;
   position: relative;
   width: 20px;
   text-align: center;
   margin: auto;
}
.score 
{
    bottom: 5px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 5px;  
    color: rgb(102, 101, 101);  
}

.score_d
{
    bottom: 3px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 5px; 
    font-size: 20px;      
}
#score_data
{
    padding-top: 10px;
}

section
{
    display:block;
    max-width: 480px;
    min-width: 250px;
    height:60%;   
    background-color:rgba(8,93, 168,1);
    margin: auto;
    transform: scale();
    
}
#caja
{
   display: block;
   float: left;
   background-color: rgb(187, 235, 236); 
   border: solid 1px black;
   margin: 10px;      
   width: 60%;
}
#canvitas
{
    display: block;
    position: relative;
    left: 25%;    
    margin: auto;    
}

#pizarra
{   
    display:block;  
    position: relative; 
    float:right;
    height:auto;
    width: 30% ;   
    margin:20px 0px;  
    transform: scale(); 
    background-color:rgb(224, 241, 255);
}
#pizarra p
{
    font-size:4vmin;
}
#pizarra span
{
    display: block;
    font-size: 14px;
    padding: 0px;    
}
#usuarios_activosh
{
    padding: 0px,auto;    
    font-size:3vmin;
}
h4
{
    background-color: rgb(18, 43, 59);
    padding-right: 0px;
    font-weight: 400;
    font-size: 12px;
    color: rgb(255, 249, 240);
}

#pizarra *
{
    margin: 10px;
    text-align: center;
}
#movil_panel
{
    display:block;
    position: absolute;
    clear:both;
    opacity: 30%;
    bottom: 10px;
    width: 94%;   
}
#movil_panel div button
{
    background-color: rgb(19, 57, 90);
    color: aliceblue;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;

        
}
#movil_panel div button:active
{
    background-color: rgb(10, 71, 124);
    box-shadow: 1px 3px 3px  rgb(94, 93, 93);    
}
#movil_panel div button:hover
{
    cursor:pointer;
}

#movil_panel div
{
    max-width: 100%;
    height: 60px;
    margin: auto;
}
#level1
{
    display: flex;    
    justify-content: center;
    padding-bottom: 10px;
}
#level2
{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}
.boton
{    
    
    color: rgb(18, 43, 59); 
    font-size: 16px;
    font-weight: 800;  
    border: solid 2px  rgb(18, 43, 59);
    border-radius: 10px;
    padding: 15px 10px;   
}
.boton:hover
{
    cursor:pointer;
}

.boton:active
{
    background-color: rgb(51, 134, 185);    
}
.boton_popup
{
    background-color: rgb(18, 43, 59);;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
}
.boton_popup:hover
{
   cursor:pointer; 
}
button img
{
    width: 40px;
}

#hidden
{
    display:block;
    position:relative;
    /*background-color: rgb(37, 76, 109);  */
    z-index: 2;
    /*top:0px;*/  
}

.popup
{
    /*display:block;
    position: absolute;*/
    text-align: center;    
    left: 0px;
    width: 98%;
    min-height: 100%;
    /*background-color: rgba(8, 93, 168,1);*/
    /*opacity: 10;*/
}
#over
{
    display:none;   
    max-width: 280px;
    position: relative;
    background-color: rgba(8,93, 168,1);
    margin: 50% auto;    
}

#start
{
    display:block;
    top:0px;
}


#o_contenedor
{
    display: block;
    position: relative;    
    margin: auto;
    background-color: aliceblue;
    max-width:100%;  
    top:20%;       
    padding: 10px;
    border: solid 2px;
}
#s_contenedor
{
    display: block;
    position: relative;    
    margin: auto;
    background-color: aliceblue;
    max-width:100%;  
    top:20%;     
    padding: 10px;
    border: solid 2px;
}

footer
{
    display:none;
    position: absolute;   
    bottom: 1px;
    background-color: rgb(160, 210, 255);
    height: 5em;
    width: 99%;
 
}
footer div
{
    display:flex;
    height: 100%;
    justify-content:center;   
    align-items: center;
    margin: 0 auto; 
}

.elementos
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(7, 58, 102);
    padding: 1px;
    background-color: rgb(3, 0, 0);
    font-size: 18px ;    
    margin-left:10px;    
}
#t_user
{
    font-weight: 800;
    font-size:larger;
}

#flayer
{
    width:100%;
    min-width:150px ;
    
}
div input
{
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 0px 10px;
    width: 150px;
    height:25px ;
    border-radius: 5px;
    font-size: medium;
    font-weight: 800;
}
div input:focus
{
  background-color: rgb(190, 190, 190);  
}
#concurso_fecha
{
    display: block;
    font-size: 18px;
    font-style:italic;       
    font-weight: 900;
    color: rgb(18, 43, 59);    
}
#fx
{
    display:none;
}

/*====================================================reglamento====================*/

#reglamento_body ,#comentario_body
{
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    border: 1px solid rgb(18, 43, 59);
    background-color: aliceblue;
}
ul
{
    padding: 50px;
}
}
/*---------------------------------------------------------------------------------------------------*/
@media screen and
(min-width:601px)
{
    body
{    min-height:38vh;
    background-color: rgb(255, 255, 255);   
    /*background-color: rgb(5, 67, 121); */
}

h1
{
    display: block;
    position: relative;
    text-align: center;
    color: aliceblue;     
    margin-top: 0px;  
    padding-top: 10px;
    width: auto;
    
}
header ,div h1
{    
    position: relative;
    background-color: rgb(5, 67, 121);
    height: 60px;              
}
#tetris_header
{
    display:block;
}


h2
    {
        color: rgb(18, 43, 59);
        text-align: center;
        font-weight: bold;
        font-size: 36px;
    }

p
    {
        font-size: 14px;
    }
a
    {
        color:rgb(5, 67, 121);
        font-weight: 700;
    }
 button img 
 {
    user-select: none; 
    pointer-events: none;
 }   

#segundo_plano
{
    display:none;
   min-height: 10%;           
}
#div1
{
    display: flex;
    /*flex-flow: row-reverse;*/
    justify-content:center; 
    margin:30px auto 20px auto;    
    max-width: 500px;  
    height: 40px;
}
#div1 div 
{
    display: flex;
    height: 40px;
    margin: auto 1px;
    padding: 5px;    
}
#div1 a 
{
    display: none;
}

#div1 div *
{
    margin: auto 2px; 
}
.score_d
{
    font-size: 20px
}
.score
{
    color:dimgrey
}
#home_image
{
    display:none;
    position: absolute;
    height: 40px; 
    margin: 2% 0px;
}

#img_copa
{
   width: 20px;
   text-align: center;
   margin: 0px 0px 0px 60px;
}


section
{
    display:block;
    position: relative;
    max-width: 480px;
    min-width: 250px;
    height:600px;
    background-color:rgba(8,93, 168,1);
    margin: auto;    
    transform: scale();
    padding: 10px;
}
#caja
{
   display: block;
   position: relative;
   float: left;
   background-color: rgb(187, 235, 236); 
   border: solid 1px black;
   margin: 10px;      
   width: 60%;
}
#canvitas
{
    display: block;
    position: relative;
    left: 25%;    
    margin: auto;    
}

#pizarra
{   
    display:block;  
    position: relative; 
    float:right;
    height:auto;
    width: 30% ;   
    margin:20px 10px;  
    transform: scale(); 
    background-color:rgb(224, 241, 255);
}
#pizarra p
{
    font-size:20px;
}
#pizarra span
{
    display: block;
    font-size: 14px;
    padding: 0px;    
}
#usuarios_activosh
{
    padding: 0px,auto;    
    font-size:3vmin;
}
h4
{
    background-color: rgb(18, 43, 59);
    padding-right: 0px;
    font-weight: 400;
    font-size: 12px;
    color: rgb(255, 249, 240);
}

#pizarra *
{
    margin: 10px;
    text-align: center;
}

#movil_panel
{
    display:none;
    position: absolute;
    clear:both;
    opacity: 30%;
    bottom: 10px;
    width: 94%;   
}
#movil_panel div button
{
    background-color: rgb(19, 57, 90);
    color: aliceblue;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;

        
}
#movil_panel div button:active
{
    background-color: rgb(10, 71, 124);
    box-shadow: 1px 3px 3px  rgb(94, 93, 93);    
}
#movil_panel div button:hover
{
    cursor:pointer;
}

#movil_panel div
{
    max-width: 100%;
    height: 60px;
    margin: auto;
}
#level1
{
    display: flex;    
    justify-content: center;
    padding-bottom: 10px;
}
#level2
{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
}
.boton
{    
    
    color: rgb(18, 43, 59); 
    font-size: 16px;
    font-weight: 800;  
    border: solid 2px  rgb(18, 43, 59);
    border-radius: 10px;
    padding: 15px 10px;   
}
.boton:hover
{
    cursor:pointer;
}

.boton:active
{
    background-color: rgb(51, 134, 185);    
}
.boton_popup
{
    background-color: rgb(18, 43, 59);;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
}
.boton_popup:hover
{
   cursor:pointer; 
}
button img
{
    width: 40px;
}

#hidden
{
    display:block;
    position:relative;
    /*background-color: rgb(37, 76, 109);  */
    z-index: 2;
    /*top:0px;*/  
}

.popup
{
    /*display:block;
    position: absolute;*/
    text-align: center;    
    left: 0px;
    /*width: 98%;*/
    min-height: 100%;
    /*background-color: rgba(8, 93, 168,1);*/
    /*opacity: 10;*/
}
#over
{
    display:none;   
    max-width: 280px;
    position: relative;
    background-color: rgba(8,93, 168,1);
    margin: 20% auto;   
}

#start
{
    display:block;
    max-width: 600px;
    margin: auto;
}


#o_contenedor
{
    display: block;
    position: relative;    
    margin: auto;
    background-color: aliceblue;
    max-width:100%;  
    top:20%;       
    padding: 10px;
    border: solid 2px;
}
#s_contenedor
{
    display: block;
    position: relative;    
    margin: auto;
    background-color: aliceblue;
    max-width:100%;  
    top:20%;     
    padding: 10px;
    border: solid 2px;
}

footer
{
    display:none;
    position: absolute;   
    bottom: 1px;
    background-color: rgb(160, 210, 255);
    height: 5em;
    width: 99%;
 
}
footer div
{
    display:flex;
    height: 100%;
    justify-content:center;   
    align-items: center;
    margin: 0 auto; 
}

.elementos
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(7, 58, 102);
    padding: 1px;
    background-color: rgb(3, 0, 0);
    font-size: 18px ;    
    margin-left:10px;    
}
#t_user
{
    font-weight: 800;
    font-size:larger;
}

#flayer
{
    max-width:300px;
    min-width:150px ;
    
}
div input
{
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 0px 10px;
    width: 150px;
    height:25px ;
    border-radius: 5px;
    font-size: medium;
    font-weight: 800;
}
div input:focus
{
  background-color: rgb(190, 190, 190);  
}
#concurso_fecha
{
    font-size: 18px;
    font-style:italic;       
    font-weight: 900;
    color: rgb(18, 43, 59);    
}
#fx
{
    display:none;
}

/*====================================================reglamento====================*/

#reglamento_body ,#comentario_body
{
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    border: 1px solid rgb(18, 43, 59);
    background-color: aliceblue;
}
ul
{
    padding: 50px;
}


}